
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--pink);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 2em;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  flex: 1;
  min-width: fit-content; 
  max-width: 250px; 
}

.button span {
  white-space: nowrap;
}

.button:hover {
  background-color: var(--light-pink);
}

.buttonLogo {
  height: 24px;
}
