
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--pill-color);
  color: var(--text-color);
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  flex: 1;
  min-width: fit-content; 
}

.button span {
  white-space: nowrap;
}

.button:hover {
  background-color: var(--background-color);
}

.buttonLogo {
  width: 24px;
  height: 24px;
}
