:root {
  --pink: rgb(255, 68, 143);
  --light-pink: rgb(255, 72, 160, 0.8);
  --orange: rgb(251, 117, 7);
  --yellow: rgb(255, 190, 11);
  --medium-yellow: rgb(255, 190, 11, 0.5);
  --light-yellow: rgba(255, 190, 11, 0.25);
  --white: rgb(255, 255, 255);
  --light-white: rgba(255, 255, 255, 0.8);
  --grey: rgb(51, 51, 51);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--grey);
}

* {
  box-sizing: border-box;
}
