.page {
  padding: 2rem 16rem;
}

@media (max-width: 1280px) {
  .page {
    padding: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
